#c-header {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);

  .c-header__container {
    @media (min-width: 1024px) {
      position: relative;
    }
  }

  .c-header__moderation {
    width: 100%;

    @media (min-width: 1024px) {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: auto;
    }
  }

  .c-portal-link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .c-button--primary {
    border-radius: 9999px;
  }
}
